.festival-img {
    height : 100px;
}

#but  {
    text-align: right;
}

#ancientart{
    height: 320px;
    width : 700px;
    background-color: #D2B48C;  /*8B4513*/
    color : #fffff0 ;
    text-align: left;
    padding: 20px;
    padding-top: none;
    margin : 40px
}
#handicraft{
    height: 300px;
    width : 700px;
    background-color: #FFCF48;
    color : #4b2e2e ;
    text-align: left;
    padding: 20px;
    padding-top: none;
    margin : 40px
}
#mauralpainting{
    height: 300px;
    width : 700px;
    background-color: #D2691E;
    color : #000000;
    text-align: left;
    padding: 20px;
    padding-top: none;
    margin : 40px
}
#modernart{
    height: 300px;
    width : 700px;
    background-color: #708090;
    color : #f8f8ff ;
    text-align: left;
    padding: 20px;
    padding-top: none;
    margin : 40px
}