body {
  /* background-color: aqua; */
  animation-name: myanimation;
  animation: myanimation 10s normal infinite;
}

@keyframes myanimation {
  0%{background-color: orange;}
  25%{background-color: rgba(255, 166, 0, 0.537);}
  50%{background-color: white;}
  75%{background-color: green;}
  87%{background-color: #DAA520;}
  100%{background-color: orange;}
}

#formstyle{
  width: 400px;
  background-color: rgb(235, 233, 227);
  border :2px dashed black;
  margin: 40px;
  padding: 20px;
  border-radius: 8%;
  box-shadow: 4px 4px 4px black;
}